@media (max-width: 1340px) {
    #main-content #left-sidebar {
        display: none;
    }

    #sidebar {
        position: unset;
        margin-left: 50px;
    }

    .fa-phone-volume {
        margin-left: 110px;
    }

    .search-friends {
        margin-left: 190px;
    }

    .infor-user {
        left: -5.188rem;
    }
}

@media (max-width: 1100px) {
    #header .subheader .lefthd .search {
        width: 200px;
    }
    
    #sidebar {
        display: none;
    }
}

@media (max-width: 1100px) and (min-width: 700px) {
    .img-content {
        width: 650px;
        height: 415px;
    }

    .modal-pen .modal-pen-container i {
        font-size: 42px;
        margin: 0 7px;
        padding: 24px;
    }
    
    #containers #nav {
        width: 650px;
    }

    #containers #nav ul li button {
        font-size: 23px;
    }

    #containers .tabs {
        max-width: 650px;
    }

    #containers .tabs .tab-item {
        font-size: 25px;
    }

    #containers #contents .content {
        width: 650px;
        height: 680px;
    }

    .elip .elip-modal {
        left: -210px;
    }
}

@media (max-width: 699px) {
    .content footer .share-modal {
        bottom: -19.875rem;
        right: 10.688rem;
    }

    .img-modal-content-main {
        width: 488px;
        height: 290px;
    }

    .modal-content-header {
        padding-left: 80px;
        height: 66px;
    }

    .modal-content-input {
        width: 65%;
    }

    .modal-content-body .flex i {
        padding-left: 8px;
    }

    .modal-content-container {
        width: 30.5rem;
    }
    .modal-container {
        width: 30.5rem;
    }

    .modal-body .flex i {
        font-size: 20px;
        padding-left: 3px;
    }

    .elip .elip-modal {
        left: -13.25rem;
    }

    #containers #nav ul li button {
        margin: 0 12px;
    }

    #containers #nav ul li i {
        font-size: 35px;
    }

    #containers #nav {
        width: 31.25rem;
        min-height: 5.875rem;
    }

    .img-user {
        display: none;
    }

    .infor-user {
        left: -0.188rem;
    }

    .show-nav {
        display: block;
    }

     .righthd {
        display: none;
    }

    .show-nav > i {
        display: block;
        font-size: 25px;
        color: #a6afb8;
        position: absolute;
        top: 14px;
        right: 20px;
        cursor: pointer;
    }

    .modal-nav.open {
        display: flex;
    }

    .img {
        left: 5px;
        width: 60px;
        height: 60px;
        margin-top: 2px;
    }

    .img-content {
        width: 500px;
        height: 320px;
    }

    .modal-header {
        justify-content: center;
    }

    .modal-pen .modal-pen-container i {
        font-size: 35px;
        margin: 0 5px;
        padding: 15px;
    }

    #header .subheader .righthd .fa-house,
    #header .subheader .righthd .fa-user,
    #header .subheader .righthd .fa-pencil {
        display: inline-block;
    }

    #containers {
        margin: 0;
    }

    #containers .tabs .tab-item {
        font-size: 19px;
    }

    #containers #contents .content header .name {
        margin-left: 75px;
    }

    #containers #contents .content {
        width: 500px;
        height: 562px;
    }
    
    #containers #contents .content article button {
        margin-top: 0;
    }
}

@media (max-width: 470px) {
    #containers #contents .content header .name {
        margin-left: 60px;
    }
    
    .infor-img-user {
        top: 4.3rem;
        left: 5.563rem;
    }

    .cover-img-user {
        width: 15.5rem;
        height: 7.375rem;
    }

    .infor-user {
        left: 0.812rem;
        width: 15.5rem;
        height: 10.75rem;
        top: 53px;
    }

    .infor-user .header-user {
        width: 14.25rem;
    }

    .modal-body {
        padding: 0;
    }

    .width-250px {
        width: 180px;
    }
    .fonts-18px {
        font-size: 14px;
    }

    #containers #nav ul li button {
        margin: 0 8px;
    }
    
    #containers #nav ul li i {
        font-size: 30px;
    }

    #containers #nav {
        width: 22.25rem;
        min-height: 4.875rem;
    }

    #containers #contents .content > header {
        min-height: 50px;
    }

    .flex-col {
        margin-top: 8px;
    }

    .img {
        width: 46px;
        height: 46px;
    }

    .img-content {
        width: 355px;
        height: 270px;
    }

    .modal-container {
        width: 365px;
    }

    .modal-pen-container {
        flex-direction: column;
    }

    .modal-body .flex i {
        font-size: 15px;
    }

    .modal-input {
        height: 80px;
    }

    .modal-footer {
        justify-content: end;
    }

    .modal-footer div {
        margin: 0;
    }
    
    #containers .tabs .tab-item {
        padding: 16px 6px 11px 6px;
        font-size: 17px;
    }

    #containers #contents .content {
        width: 355px;
        height: 515px;
    }

    #containers #contents .content footer ul li {
        margin: 10px 10px;
    }

    .modal-content-container {
        width: 21.87rem;
        margin: 74px auto;
    }
    .img-modal-content-main {
        width: 350px;
        height: 300px;
    }

    .modal-content-body .flex i {
        font-size: 17px;
    }

    .modal-content-input {
        width: 210px;
    }

    .modal-content-input::placeholder {
        font-size: 17px;
    }

    .modal-content-header {
        padding-left: 60px;
    }

    .modal-content-footer div {
        margin-right: 3px;
    }

    .content footer .share-modal {
        width: 18.625rem;
        height: 17.29rem;
        right: 2.688rem;
        bottom: -260px;
    }

    .content footer .share-modal > footer {
        padding: 4px 0;
    }

    .content footer .share-modal > footer > div > i {
        font-size: 18px;
    }

    .content footer .share-modal > article > div > img {
        width: 50px;
        height: 50px;
    }

    .content footer .share-modal .header-share {
        margin: 10px 10px 0 10px;
    }

    .elip .elip-modal {
        left: -11rem;
        height: 20.35rem;
        width: 13.625rem;
    }

    .elip .elip-modal > div {
        padding: 8px 0;
    }
}

